// overwrite theme variable
$primary: #00c6c1;
$secondary: #2e3145;
$success: #168581;
$info: #698bf5;
$warning: #f0d500;
$danger: #ca0b00;
$dark: #121628;
$light: #f7f8ff;

@import "~bootstrap/scss/bootstrap";


body {
  background: $light;
}

// CARDS
.card {
  transition: 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 0 8px rgba($dark, 0.25);
  }
}

.btn-transparent {
  &:focus {
    box-shadow: none;
  } 
}